body {
    background: gray;
}

.yin-yang {
    width: 96px;
    box-sizing: content-box;
    height: 48px;
    background: #eee;
    border-color: red;
    border-style: solid;
    border-width: 2px 2px 50px 2px;
    border-radius: 100%;
    position: relative;
}

.yin-yang::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #eee;
    border: 18px solid red;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
}

.yin-yang:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: red;
    border: 18px solid #eee;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
}

#yin_yang {
    margin: 200px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);
    position: relative;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#yin_yang::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 40px solid black;
    background: #ffffff;
    position: absolute;
    border-radius: 50%;
    top: 25%;
    left: 0;
}

#yin_yang::after {
    content: "";
    width: 20px;
    height: 20px;
    border: 40px solid white;
    background: #000000;
    position: absolute;
    border-radius: 50%;
    top: 25%;
    right: 0;
}